<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <%= link_to 'Back', cocktails_path %>
    </div>

    <% if @cocktail.photo? %>
      <%= cl_image_tag @cocktail.photo.path, width: 300, height: 400, crop: :fill %>
    <% end %>

    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.association :ingredient, collection: %w(lemon ice mint leaves redbull jagermeister sugar tonic gin rhum) %>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>

  </div>
  <ul>
    <li><%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete %></li>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %> — <%= dose.ingredient.name %> —
      <%= link_to "Delete", dose_path(dose), method: :delete %>
    </li>
  <% end %>
  </ul>
</div>
